@charset "utf-8";

/* CSS Document */

body {
    font-family: "宋体";
    font-size: 16px;
    color: #fff;
    background-color: rgb(185, 114, 60);
    margin: auto;
    padding: 0;
}

a {
    text-decoration: none;
    font-family: "黑体";
    font-size: 18px;
    color: #f3ebe5;
}

a:hover {
    text-decoration: underline;
    font-family: "黑体";
    font-size: 20px;
    color: yellow;
}

p {
    margin-top: 5px;
    margin-bottom: 5px;
}

#graph {
    margin-bottom: 20px;
}

#title {
    text-indent: 5px;
}

#container {
    margin: auto;
    width: 800px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

p {
    text-indent: 2em;
}

#menu {
    margin-top: 30px;
    /* background-color: #8daab9; */
}

#main {
    display: flex;
    margin-top: 30px;
    width: 800px;
}

#banner img {
    margin-top: 5px;
    width: 800px;
    height: 160px;
}

#self {
    margin-top: 20px;
    width: 300px;
    height: auto;
}

#content {
    width: 100%;
}

#mainleft {
    width: 650px;
    height: 100%;
    margin-right: 10px;
}

#mainight {
    display: flex;
    margin-left: 20px;
    flex: 1;
    height: 100%;
    background-color: blue;
}

#pic1 {
    margin-top: 30px;
    margin-left: 30px;
    width: 350px;
    height: 210px;
}

#pic2 {
    margin-top: 30px;
    margin-left: 30px;
    width: 350px;
    height: 210px;
}

#footer {
    margin-top: 60px;
}